@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #2f3136;
    margin: 0;
    color: #d7d6d9;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36393f;
    margin-bottom: 20px;
    margin-left: 3%;
    width: 93%;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    color: #d7d6d9;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #202225;
}

.header {
    float: left;
    padding: 20px;
    background-color: #36393f;
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.line {
    float: left;
    padding: 5px;
    background-color: #36393f;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3%;
    width: 93%;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 20px;
    background-color: #36393f;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3%;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 65%;
}

/* lyx column */
.column.lyx {
    width: 94%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column.side,
    .line,
    ul,
    .header,
    .column.middle {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .header {
        width: 100%;
    }
}